* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    margin: 0 50px;
    background-color: #e9e9e9ff;
    color: white;
}

#container {
    width: 800px;
    min-width: 800px;
    height: 800px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#buttonsContainer {
    width: 30vw;
    height: 800px;
    background-color: #222222;
}

h1, button, label, p {
    font-family: 'Orbit', sans-serif;
}

button {
    color: white;
    background-color: #222222;
    border: 5px red solid;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.square {
    flex: 1;
    height: 100%;
    border-top: 0;
}

#noValueEntered {
    color: red;
}

#colorPicker {
    background: none; /* Remove background color for some browsers */
    padding: 0; /* Remove padding for some browsers */
    width: 200px;
    height: 200px;
    /* Other styling */
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 5px red solid;
}