* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    margin: 0 50px;
    background-color: #e9e9e9ff;
    color: white;
}


#container {
    width: 800px;
    min-width: 800px;
    height: 800px;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#buttonsContainer {
    width: 35vw;
    height: 800px;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 10px;
    min-width: 530px;
}

#buttonsContainer div {
    margin: 20px;
    border-radius: 20px;
}

h1, button, label, p, input {
    font-family: 'Orbit', sans-serif;
}

button, #colourTitle, input {
    font-size: 0.9rem;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 4.8rem;
    padding-bottom: 10px;
    position: absolute;
}

#pixelHeaderContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shape1stRow {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #6355a0ff;
}

#pixelSize {
    width: 90%;
}

#pixelSize::placeholder {
    color: white;
}

label {
    display: none;
}

#pixelSizeContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: #009456ff solid 6px;
}

#submitPixelSize {
    border: none;
    margin: 0;
    background-color: transparent;
    width: 10%;
    height: 100%;
}

input {
    background: transparent;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    padding: 20px;
}

input:focus {
    color: white;
    border: none;
    outline: none;
}

#shape2ndRow {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #ea7650ff;
}

#colourContainer {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-color: #ab924dff;
}

#colourTitle {
    position: absolute;
    margin: 0;
}

#colourTitle:hover {
    cursor: pointer;
}

#randomColourContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#randomColour {
    border-color: #ea7650ff;
}

#shape3rdRow {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #f5ba31ff;
}

#colourContainer {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

#colorPicker {
    background: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: 6px #ab924dff solid;
    border-radius: 20px;

}

#shape4thRow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #ec9cb6ff;
}

#quickFlowContainer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quickFlow {
    border-color: #0991cdff;
}

#fillContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fill {
    border-color: #ab924dff;
}

#shape5thRow {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: forestgreen;
}

#rubberContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#rubber {
    border-color: #f5ba31ff;
}

#startAgainContainer {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

#startAgain {
    border-color: #ec9cb6ff;
}

#lastRowShape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    background-color: #0991cdff;
}

#painterHeaderContainer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
    background-color: #222222;
    border: 6px solid;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.square {
    flex: 1;
    height: 100%;
    border-top: 0;
}

#noValueEntered {
    color: red;
}