* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

#container {
    width: 800px;
    height: 800px;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: black solid 1px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.square {
    flex: 1;
    height: 100%;
    /*background-color: white;*/
    border-top: 0;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#noValueEntered {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: red;
}

#colorPicker {
    border: 1px black solid;
    background: none; /* Remove background color for some browsers */
    padding: 0; /* Remove padding for some browsers */
    width: 200px;
    height: 200px;
    /* Other styling */
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}